MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=
OAUTH_FACEBOOK_APPID=
OAUTH_FACEBOOK_SECRET=
OAUTH_GITHUB_APPID=
OAUTH_GITHUB_SECRET=
OAUTH_GOOGLE_OAUTH2_APPID=
OAUTH_GOOGLE_OAUTH2_SECRET=
OAUTH_VKONTAKTE_APPID=
OAUTH_VKONTAKTE_SECRET=
RANDOM_SECRET=
