/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

#footer {
    background-color: #f5f5f5;
}

.description {
  text-align: left;
}

.description p, .description ul {
  margin-top: 10px;
  text-align: center;
}

#notices {
  text-align: center;
  min-height: 18px;
  margin-top: 20px;
}

#success {
  color: #40449B;
}

#error {
  color: #E52228;
}

form {
    text-align: center;
    margin-top: 10px;
}

.signup-terms {
  padding-top: 10px;
  font-size: 11px;
  line-height: 15px;
  color: #7a7a7a;
  font-style: italic;
  max-width: 400px;
  margin: 0 auto;
}

.social-link {
  display: inline-block;
  height: 45px;
  width: 45px;
}

.is-google_oauth2 {
  background: url(/img/google_oauth2.png);
}

.is-facebook {
  background: url(/img/facebook.png);
}

.is-vkontakte {
  background: url(/img/vkontakte.png);
}

.is-github {
  background: url(/img/github.png);
}

.bottom-nav {
  margin: 16px 0;
  font-size: 16px;
}

a {
      color: #444;
    font-family: "agb", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;

}

a:hover {
      color: #000;
}


@media (max-width: 767px) {
    button {
        margin-top: 10px;
    }
}

.bottom-nav ul li a {
    margin-right: 22px;
}

.social-list-small {
    width: 90px;
    min-height: 75px;
    margin: 40px auto 0;
    list-style-type: none;
    list-style-position: outside;
}
